name: 'Create logic app'

on:
   workflow_dispatch:

#Special permissions required for OIDC authentication
permissions:
  id-token: write
  contents: read
  pull-requests: write
  
env:
  LOCATION: "eastus"

jobs:
  bicep-whatif:
    name: 'Bicep Whatif'
    runs-on: ubuntu-latest

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v3

    # Authenticate to Az CLI using OIDC
    - name: 'Az CLI login'
      uses: azure/login@v1
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
        
     # Checks that all Bicep configuration files adhere to a canonical format
    - name: Bicep Lint
      uses: Azure/cli@v1
      with:
        inlineScript: |
            az config set bicep.use_binary_from_path=False
            az deployment group create --resource-group EL --template-file main.bicep --template-parameter-file .\azuredeploy.parameters.json -c
            az resource list --resource-group EL
            
            
        
     
